.page-header {
    background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_1024.jpg");
}

@media (min-width: 1255px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_1255.jpg");
    }
}

@media (min-width: 1454px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_1454.jpg");
    }
}

@media (min-width: 1635px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_1635.jpg");
    }
}

@media (min-width: 1802px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_1802.jpg");
    }
}

@media (min-width: 1957px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_1957.jpg");
    }
}

@media (min-width: 2103px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2103.jpg");
    }
}

@media (min-width: 2241px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2241.jpg");
    }
}

@media (min-width: 2379px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2379.jpg");
    }
}

@media (min-width: 2502px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2502.jpg");
    }
}

@media (min-width: 2635px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2635.jpg");
    }
}

@media (min-width: 2758px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2758.jpg");
    }
}

@media (min-width: 2882px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2882.jpg");
    }
}

@media (min-width: 2988px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_2988.jpg");
    }
}

@media (min-width: 3110px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3110.jpg");
    }
}

@media (min-width: 3222px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3222.jpg");
    }
}

@media (min-width: 3332px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3332.jpg");
    }
}

@media (min-width: 3447px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3447.jpg");
    }
}

@media (min-width: 3545px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3545.jpg");
    }
}

@media (min-width: 3662px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3662.jpg");
    }
}

@media (min-width: 3767px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3767.jpg");
    }
}

@media (min-width: 3840px) {
    .page-header {
        background-image: url("cards/bigscreen/cards_laptop_notebook_main/cards_laptop_notebook_main_yqrpdj_c_scale,w_3840.jpg");
    }
}


