.card-container {
    width: 450px;
    height: 275px;
    position: relative;
    perspective: 800px;
}

#flashcard {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#flashcard figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    line-height: 3em;
    padding-top: 2.5em;
    color: white;
    text-align: center;
    font-family: "Ubuntu", "Times New Roman", serif;
    font-size: 2em;
}

#flashcard .front {
    background: #33429b;
    color: whitesmoke;

}
#flashcard .back {
    background: whitesmoke;
    color: #2b2b2b;

    transform: rotateY( 180deg );
    font-size: 0.95em;
    text-align: left;
    padding: 1.5em;

}
.flashcard-category {
    font-size: 0.4em;
    line-height: normal;
    text-align: left;
    margin-left: 2.5em;
    text-transform: uppercase;
    letter-spacing: +2px;
}

.flashcard-question {

}

.flashcard-number {
    border-radius: 2px;
    border: solid thin whitesmoke;
    font-size: 0.4em;
    max-width: 40px;
    min-height: 20px;
    line-height: normal;
    margin-left: 3em;
    padding: 3px;
}

#flashcard.flipped {
    transform: rotateY( 180deg );
}